pre, .syntax { 
    font-family: monospace;
    background: #f0f0f0;
    padding: 4px;
    overflow: hidden; 
}
pre {
	margin: 2px;
}
/* Solarized Light 

http://ethanschoonover.com/solarized

SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base01    #586e75  body text / default code / primary content
base1     #93a1a1  comments / secondary content
base3     #fdf6e3  background
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/

.syntax { background-color: #fdf6e3; color: #586e75 }
.syntax .c { color: #93a1a1 } /* Comment */
.syntax .err { color: #586e75 } /* Error */
.syntax .g { color: #586e75 } /* Generic */
.syntax .k { color: #859900 } /* Keyword */
.syntax .l { color: #586e75 } /* Literal */
.syntax .n { color: #586e75 } /* Name */
.syntax .o { color: #859900 } /* Operator */
.syntax .x { color: #cb4b16 } /* Other */
.syntax .p { color: #586e75 } /* Punctuation */
.syntax .cm { color: #93a1a1 } /* Comment.Multiline */
.syntax .cp { color: #859900 } /* Comment.Preproc */
.syntax .c1 { color: #93a1a1 } /* Comment.Single */
.syntax .cs { color: #859900 } /* Comment.Special */
.syntax .gd { color: #2aa198 } /* Generic.Deleted */
.syntax .ge { color: #586e75; font-style: italic } /* Generic.Emph */
.syntax .gr { color: #dc322f } /* Generic.Error */
.syntax .gh { color: #cb4b16 } /* Generic.Heading */
.syntax .gi { color: #859900 } /* Generic.Inserted */
.syntax .go { color: #586e75 } /* Generic.Output */
.syntax .gp { color: #586e75 } /* Generic.Prompt */
.syntax .gs { color: #586e75; font-weight: bold } /* Generic.Strong */
.syntax .gu { color: #cb4b16 } /* Generic.Subheading */
.syntax .gt { color: #586e75 } /* Generic.Traceback */
.syntax .kc { color: #cb4b16 } /* Keyword.Constant */
.syntax .kd { color: #268bd2 } /* Keyword.Declaration */
.syntax .kn { color: #859900 } /* Keyword.Namespace */
.syntax .kp { color: #859900 } /* Keyword.Pseudo */
.syntax .kr { color: #268bd2 } /* Keyword.Reserved */
.syntax .kt { color: #dc322f } /* Keyword.Type */
.syntax .ld { color: #586e75 } /* Literal.Date */
.syntax .m { color: #2aa198 } /* Literal.Number */
.syntax .s { color: #2aa198 } /* Literal.String */
.syntax .na { color: #586e75 } /* Name.Attribute */
.syntax .nb { color: #B58900 } /* Name.Builtin */
.syntax .nc { color: #268bd2 } /* Name.Class */
.syntax .no { color: #cb4b16 } /* Name.Constant */
.syntax .nd { color: #268bd2 } /* Name.Decorator */
.syntax .ni { color: #cb4b16 } /* Name.Entity */
.syntax .ne { color: #cb4b16 } /* Name.Exception */
.syntax .nf { color: #268bd2 } /* Name.Function */
.syntax .nl { color: #586e75 } /* Name.Label */
.syntax .nn { color: #586e75 } /* Name.Namespace */
.syntax .nx { color: #586e75 } /* Name.Other */
.syntax .py { color: #586e75 } /* Name.Property */
.syntax .nt { color: #268bd2 } /* Name.Tag */
.syntax .nv { color: #268bd2 } /* Name.Variable */
.syntax .ow { color: #859900 } /* Operator.Word */
.syntax .w { color: #586e75 } /* Text.Whitespace */
.syntax .mf { color: #2aa198 } /* Literal.Number.Float */
.syntax .mh { color: #2aa198 } /* Literal.Number.Hex */
.syntax .mi { color: #2aa198 } /* Literal.Number.Integer */
.syntax .mo { color: #2aa198 } /* Literal.Number.Oct */
.syntax .sb { color: #93a1a1 } /* Literal.String.Backtick */
.syntax .sc { color: #2aa198 } /* Literal.String.Char */
.syntax .sd { color: #586e75 } /* Literal.String.Doc */
.syntax .s2 { color: #2aa198 } /* Literal.String.Double */
.syntax .se { color: #cb4b16 } /* Literal.String.Escape */
.syntax .sh { color: #586e75 } /* Literal.String.Heredoc */
.syntax .si { color: #2aa198 } /* Literal.String.Interpol */
.syntax .sx { color: #2aa198 } /* Literal.String.Other */
.syntax .sr { color: #dc322f } /* Literal.String.Regex */
.syntax .s1 { color: #2aa198 } /* Literal.String.Single */
.syntax .ss { color: #2aa198 } /* Literal.String.Symbol */
.syntax .bp { color: #268bd2 } /* Name.Builtin.Pseudo */
.syntax .vc { color: #268bd2 } /* Name.Variable.Class */
.syntax .vg { color: #268bd2 } /* Name.Variable.Global */
.syntax .vi { color: #268bd2 } /* Name.Variable.Instance */
.syntax .il { color: #2aa198 } /* Literal.Number.Integer.Long */
